@import url('./cssReset.css');
@import url('./inputs.css');

body {
    font-family: 'Radio Canada';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(103, 215, 101);
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
}

.input__container {
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.counter {
    width: 90vw;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 10rem;
    margin: 0;
}

.nps {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 768px) {
    main {
        justify-content: center;
    }
    .counter {
        font-size: 7rem;
    }
    .nps {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .input__container {
        right: auto;
        position: fixed;
        margin: auto;
        bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .input--button {
        margin: 5px 5px
    }
    .input-nps {
        display: flex;
        align-items: center;
        text-align: center;
    }
    input.input-nps {
        text-align: center;
    }
    .input--button.play {
        border-radius: 5px;
    }
}

@media (max-width: 500px) {
    .counter {
        position: relative;
        bottom: 30px;
        font-size: 5rem;
    }
    .nps {
        position: absolute;
        bottom: 60px;
    }
}